:root {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

#results {
	border: 3px solid black;
	border-radius: 6px;
	width: fit-content;
	padding: 10px;
}

#results h3 {
	margin-block-end: 0.5rem;
}