:root {
	display: grid;
	width: 100%;
	height: 100%;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 50% 50%;
}


h1, img {
	font-weight: bold;
	display: block;
	width: 100%;
	text-align: center;
	color: red;
}