select.admin-autocomplete {
	width: 20em;
}

.select2-container--admin-autocomplete.select2-container {
	min-height: 30px;
}

.select2-container--admin-autocomplete .select2-selection--single,
.select2-container--admin-autocomplete .select2-selection--multiple {
	min-height: 30px;
	padding: 0;
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection,
.select2-container--admin-autocomplete.select2-container--open .select2-selection {
	min-height: 30px;
	border-color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection.select2-selection--single,
.select2-container--admin-autocomplete.select2-container--open .select2-selection.select2-selection--single {
	padding: 0;
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection.select2-selection--multiple,
.select2-container--admin-autocomplete.select2-container--open .select2-selection.select2-selection--multiple {
	padding: 0;
}

.select2-container--admin-autocomplete .select2-selection--single {
	border: 1px solid var(--border-color);
	border-radius: 4px;
	background-color: var(--body-bg);
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
	color: var(--body-fg);
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__clear {
	font-weight: bold;
	float: right;
	cursor: pointer;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__placeholder {
	color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__arrow {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
	height: 26px;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__arrow b {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin-top: -2px;
	margin-left: -4px;
	border-width: 5px 4px 0 4px;
	border-style: solid;
	border-color: #888888 transparent transparent transparent;
}

.select2-container--admin-autocomplete[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left;
}

.select2-container--admin-autocomplete[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	right: auto;
	left: 1px;
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection--single {
	cursor: default;
	background-color: var(--darkened-bg);
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection--single .select2-selection__clear {
	display: none;
}

.select2-container--admin-autocomplete.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #888888 transparent;
}

.select2-container--admin-autocomplete .select2-selection--multiple {
	cursor: text;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	background-color: var(--body-bg);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__rendered {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0 10px 5px 5px;
	list-style: none;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__rendered li {
	list-style: none;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__placeholder {
	float: left;
	margin-top: 5px;
	color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__clear {
	font-weight: bold;
	position: absolute;
	right: 0;
	float: right;
	margin: 5px;
	cursor: pointer;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0 5px;
	cursor: default;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	background-color: var(--darkened-bg);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove {
	font-weight: bold;
	display: inline-block;
	margin-right: 2px;
	cursor: pointer;
	color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: var(--body-fg);
}

.select2-container--admin-autocomplete[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--admin-autocomplete[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--admin-autocomplete[dir="rtl"] .select2-selection--multiple .select2-search--inline {
	float: right;
}

.select2-container--admin-autocomplete[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-right: auto;
	margin-left: 5px;
}

.select2-container--admin-autocomplete[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: auto;
	margin-left: 2px;
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection--multiple {
	border: solid var(--body-quiet-color) 1px;
	outline: 0;
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection--multiple {
	cursor: default;
	background-color: var(--darkened-bg);
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection__choice__remove {
	display: none;
}

.select2-container--admin-autocomplete.select2-container--open.select2-container--above .select2-selection--single, .select2-container--admin-autocomplete.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.select2-container--admin-autocomplete.select2-container--open.select2-container--below .select2-selection--single, .select2-container--admin-autocomplete.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.select2-container--admin-autocomplete .select2-search--dropdown {
	background: var(--darkened-bg);
}

.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field {
	color: var(--body-fg);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	background: var(--body-bg);
}

.select2-container--admin-autocomplete .select2-search--inline .select2-search__field {
	color: var(--body-fg);
	border: none;
	outline: 0;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: textfield;
}

.select2-container--admin-autocomplete .select2-results > .select2-results__options {
	overflow-y: auto;
	max-height: 200px;
	color: var(--body-fg);
	background: var(--body-bg);
}

.select2-container--admin-autocomplete .select2-results__option[role=group] {
	padding: 0;
}

.select2-container--admin-autocomplete .select2-results__option[aria-disabled=true] {
	color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-results__option[aria-selected=true] {
	color: var(--body-fg);
	background-color: var(--selected-bg);
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option {
	padding-left: 1em;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
}

.select2-container--admin-autocomplete .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
	color: var(--primary-fg);
	background-color: var(--primary);
}

.select2-container--admin-autocomplete .select2-results__group {
	display: block;
	padding: 6px;
	cursor: default;
}

.errors .select2-selection {
	border: 1px solid var(--error-fg);
}
